
<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <meta charset="utf-8" />
</head>
<body>
<nav><a href="/contact">Contact</a> | <a href="/">Home</a></nav>